<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/icon1.jpg') }}" type="image/x-icon">
    
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>Login & Cadastro</title>
</head>

<body class="body-login">
    <div class="wrapper-login">
        <div class="forms-login" id="forms">
            <div class="container-login active" id="loginBox">
                <h2 class="h2-login">Login</h2>
                <form class="form-login" action="{{ url_for('login') }}" method="POST">
                    <input type="text" name="usuario" placeholder="Usuário" class="input-field-login" required
                        minlength="3">
                    <div class="input-group-login">
                        <input type="password" name="senha" placeholder="Senha (mín. 6 caracteres)"
                            class="input-field-login senha" required minlength="6">
                        <span class="toggle-password-login">👁️</span>
                    </div>
                    <button type="submit" class="btn-login">Entrar</button>
                </form>
                <span class="link-login" id="toCadastro">Não tem conta? Cadastre-se</span>
            </div>
            <div class="container-login" id="cadastroBox">
                <h2 class="h2-login">Cadastro</h2>
                <form class="form-login" action="{{ url_for('cadastrar') }}" method="POST">
                    <input type="text" name="nome" placeholder="Nome completo" class="input-field-login" required
                        minlength="3">
                    <input type="email" name="email" placeholder="E-mail" class="input-field-login" required>
                    <input type="text" name="usuario" placeholder="Usuário" class="input-field-login" required
                        minlength="3">
                    <div class="input-group-login">
                        <input type="password" name="senha" placeholder="Senha (mín. 6 caracteres)"
                            class="input-field-login senha" required minlength="6">
                        <span class="toggle-password-login">👁️</span>
                    </div>
                    <button type="submit" class="btn-login">Cadastrar</button>
                </form>
                <span class="link-login" id="toLogin">Já tem conta? Faça login</span>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>

</html>